{
  "env": {
    "build": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "stage-2"
      ]
    }
  }

}
